@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,900|Poiret+One|Montserrat:100,300,400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap);
html { scroll-behavior: smooth; }

body, * { cursor: none; }
body::selection, *::selection { background-color: #b2d995; }

body { font-family: "Montserrat", sans-serif; background-color: #fff; }

#contents > #section { position: relative; }

.cursor { position: fixed; background: #1900ff; width: 20px; height: 20px; margin: -10px 0 0 -10px; border-radius: 50%; will-change: none; -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; pointer-events: none; z-index: 10000; }

.cursor_back { position: fixed; background-color: #faffcc; width: 50px; height: 50px; border-radius: 50%; margin: -10px 0 0 -10px; will-change: none; -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; pointer-events: none; z-index: 9000; }

#section1 .shapes { position: relative; height: 100vh; width: 100%; overflow: hidden; }
#section1 .shapes .shape { will-change: contents; position: absolute; border-radius: 50%; }
#section1 .shapes .shape-1 { background: #002bd8; width: 500px; height: 500px; margin: -250px 0 0 -250px; }
#section1 .shapes .shape-2 { background: #e5ff00; width: 340px; height: 340px; margin: -170px 0 0 -170px; }
#section1 .shapes .shape-3 { background: #fff7ca; width: 180px; height: 180px; margin: -90px 0 0 -90px; }
#section1 .main { top: 0; left: 0; position: absolute; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 100vh; width: 100%; mix-blend-mode: screen; background: #fff; }
#section1 .main h1 { font-family: "Noto Sans KR", sans-serif; font-size: 11em; font-weight: 900; color: #000; margin: 0; text-align: center; line-height: 120%; display: inline-block; }
#section1 .main .hi2 { display: none; }
#section1 .main .hi_3 { display: none; }
#section1 nav { width: 100px; position: fixed; top: 10%; right: 3%; font-family: "Raleway", sans-serif; font-size: 1.2em; font-weight: 400; z-index: 999; }
#section1 nav ul li { margin-bottom: 10px; }
#section1 nav ul li:hover a { font-weight: 600; transition-delay: all 0.3s; }

#section2 { position: relative; width: 100%; height: 60vh; overflow: hidden; padding: 20vh 0; }
#section2 img { box-sizing: border-box; }
#section2 .text { position: relative; display: flex; height: 10vh; left: 50%; font-size: 1.5vw; font-family: "Noto Sans KR", sans-serif; font-weight: 700; }
#section2 .text p { display: inline-block; vertical-align: top; margin-right: 1.3vw; }
#section2 .text p:nth-child(3) { position: absolute; margin-left: 13vw; }
#section2 .text .word { position: absolute; width: 11vw; letter-spacing: 0.3vw; opacity: 0; }
#section2 .text .letter { display: inline-block; position: relative; transform: translateZ(25px); transform-origin: 50% 50% 25px; }
#section2 .text .letter.out { transform: rotateX(90deg); transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
#section2 .text .letter.behind { transform: rotateX(-90deg); }
#section2 .text .letter.in { transform: rateteX(0deg); transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
#section2 .m-text { display: none; position: relative; text-align: center; font-size: 4vw; font-family: "Noto Sans KR", sans-serif; }
#section2 .m-text span { display: inline-block; font-weight: 700; letter-spacing: 0.8vw; line-height: 5vw; margin-bottom: 20px; }
#section2 .m-text p { display: inline-block; font-size: 2vw; line-height: 3vw; }
#section2 .about_r { width: 50%; height: 100%; float: left; }
#section2 .about_r img { width: 34vw; height: 18vw; object-fit: cover; }
#section2 .about_r a { display: inline-block; float: left; width: 30vw; height: 3vw; text-align: right; line-height: 3vw; text-decoration: underline; font-weight: 600; overflow: hidden; }
#section2 .about_r a:hover ~ i { color: #ff5700; margin-left: 1vw; }
#section2 .about_r i { width: 2vw; height: 3vw; overflow: hidden; transition: all 0.5s; float: left; line-height: 3vw; text-align: center; }
#section2 .about_l { float: right; width: 50%; height: 100%; }
#section2 .about_l h2 { font-size: 1vw; font-weight: bold; margin-bottom: 2%; }
#section2 .about_l h2:nth-of-type(2), #section2 .about_l h2:nth-of-type(3) { margin-top: 2%; }
#section2 .about_l p { font-size: 0.8vw; width: 80%; line-height: 1.5vw; position: relative; }
#section2 .about_l p:nth-of-type(1) { font-weight: 700; }
#section2 .about_l p:nth-of-type(1)::after { content: ""; background-color: rgba(255, 217, 0, 0.651); width: 10vw; height: 0.6vw; position: absolute; left: 0px; top: 2vw; z-index: -9; }
#section2 .about_l .program { width: 30vw; height: 8vw; }
#section2 .about_l .program li { display: inline-block; box-sizing: border-box; padding: 5px 20px; height: 2vw; text-align: center; line-height: 1.5vw; margin: 10px; border-radius: 50px; box-shadow: 5px 3px 10px rgba(151, 163, 163, 0.15); }
#section2 .about_l .program li:nth-child(1):hover { background-color: #9db7ff; }
#section2 .about_l .program li:nth-child(2):hover { background-color: #ffc99d; }
#section2 .about_l .program li:nth-child(3):hover { background-color: #f8ff9d; }
#section2 .about_l .program li:nth-child(4):hover { background-color: #ff9de7; }
#section2 .about_l .program li:nth-child(5):hover { background-color: #ffa34d; }
#section2 .about_l .program li:nth-child(6):hover { background-color: #7566ff; }
#section2 .about_l .program li:nth-child(7):hover { background-color: #ff6666; }

#section3 { width: 100%; height: 105vh; background-color: #ACED0E; display: flex; }
#section3 .left { width: 50%; height: 100%; overflow: hidden; }
#section3 .left .skill { position: relative; top: 50%; transform: translateY(-50%); margin-left: 10%; }
#section3 .left .skill span { width: 60%; line-height: 7vw; font-size: 6vw; display: inline-block; }
#section3 .left .skill span:hover { text-decoration: underline; }
#section3 .left .skill span.hov1 { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; }
#section3 .left .skill span.hov2 { font-weight: 100; }
#section3 .left .skill span.hov3 { font-weight: 900; }
#section3 .left .skill span.hov4 { font-family: "Poiret One", cursive; }
#section3 .left .skill span.hov5 { font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; }
#section3 .left .skill span.hov6 { font-family: Verdana, Geneva, Tahoma, sans-serif; }
#section3 .right { position: relative; width: 50%; height: 100%; border-left: 1px solid #666; display: flex; justify-content: center; align-items: center; }
#section3 .right h2 { display: inline-block; position: relative; font-size: 25vw; font-weight: 600; font-family: "Montserrat", sans-serif; }

#section4 { position: relative; display: flex; margin-top: 10%; }
#section4 .wrap { position: relative; width: 100%; margin: 0 11%; display: flex; flex-wrap: wrap; justify-content: space-between; overflow: hidden; }
#section4 .wrap .box { width: 36vw; height: 26vw; position: relative; overflow: hidden; }
#section4 .wrap .box .box-txt { width: 100%; height: 4vw; position: absolute; padding: 5%; color: #fff; line-height: 1.8vw; overflow: hidden; opacity: 0; }
#section4 .wrap .box .box-txt h2 { font-weight: 700; font-size: 2vw; }
#section4 .wrap .box .box-txt span { font-size: 0.8vw; }
#section4 .wrap .box::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; mix-blend-mode: color; background-color: #000; }
#section4 .wrap .box:nth-of-type(even) { height: 47vw; margin-top: 5vw; }
#section4 .wrap .box:nth-of-type(1) .box-txt, #section4 .wrap .box:nth-of-type(3) .box-txt { color: #000; }
#section4 .wrap .box:nth-of-type(3), #section4 .wrap .box:nth-of-type(7) { height: 47vw; margin-top: -21vw; }
#section4 .wrap .box:nth-of-type(4), #section4 .wrap .box:nth-of-type(5), #section4 .wrap .box:nth-of-type(8) { height: 26vw; }
#section4 .wrap .box img { width: 100%; height: 100%; box-sizing: border-box; object-fit: cover; z-index: -9; display: inline-block; transition: all 0.3s linear; }
#section4 .wrap .box:hover::after { z-index: -1; transition: all 0.2s ease-in-out; }
#section4 .wrap .box:hover img { transform: scale(1); transition: all 0.3s ease-in-out; }
#section4 .wrap .box:hover .box-txt { top: -2%; opacity: 1; transition: all 0.5s ease-in-out; }

#section5 { width: 100%; height: 30vh; background: #0038a0; margin-top: 10%; color: #fff; overflow: hidden; }
#section5 span { width: 100%; height: 3vw; color: #fff; left: 50%; line-height: 3vw; display: inline-block; text-align: center; font-family: "Poiret One", cursive; font-size: 2vw; font-weight: 900; }
#section5 footer { width: 80%; margin: 0 auto; height: 27vh; position: relative; color: #fff; }
#section5 footer h2 { width: 100%; display: inline-block; font-size: 1vw; font-weight: 400; line-height: 1.5vw; }
#section5 footer .icon { width: 100%; height: 4vw; display: flex; flex-wrap: wrap; }
#section5 footer .icon i { font-size: 2vw; color: #fff; margin-right: 1%; margin-top: auto; }
#section5 footer .icon .qrcode { width: 8vw; height: 8vw; background: url(../icons/kakaotalk_qr.png) 100%/cover; margin-left: auto; margin-right: 0; position: absolute; right: 0; bottom: 30%; }
#section5 footer a { width: 100%; }
#section5 footer a span { text-align: left; width: auto; }
#section5 footer a span:hover { text-decoration: underline; }
#section5 footer .f_b { width: 100%; height: auto; }
#section5 footer .f_b p { font-size: 0.7vw; width: 50%; float: left; }
#section5 footer .f_b p:last-child { text-align: right; }

aside { width: 100%; height: 3vw; position: fixed; background-color: rgba(255, 230, 0, 0.836); bottom: 0; overflow: hidden; display: flex; flex-wrap: wrap; justify-content: center; }
aside .copied { position: absolute; top: 55px; left: 55%; width: 100px; height: 28px; line-height: 25px; border-radius: 2vw; display: inline-block; font-size: 18px; font-weight: 200; background-color: #002bd8; color: #fff; display: none; transition: all 2s; }
aside .copied::after { content: ""; position: absolute; top: 80%; left: 50%; margin-left: -5px; border: 5px solid #002bd8; transform: rotate(45deg); }
aside span { width: 100%; height: 3vw; color: #002bd8; left: 50%; line-height: 3vw; display: inline-block; text-align: center; font-family: "Poiret One", cursive; font-size: 2vw; font-weight: 900; }
aside p { width: 100%; text-align: center; }
aside a { font-size: 1.5vw; font-weight: 400; }
aside a:nth-of-type(1) { margin-right: 3vw; }
aside a:hover { font-weight: 600; }

.height { height: 8vw; }

/*# sourceMappingURL=portfolio.css.map */
